.listRoom{
    position: absolute;
    top:100%;
    color: #000000;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 255, 255);
    width: 300px;
    left: -100px;
    box-shadow: 0px 0px 10px 0.5px rgb(78, 74, 74);
   height: 400px;
   
    
    }
.listRoom>.list{
    height: 80%;
    overflow:auto;
} 
.listRoom>.list>ul{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    
    list-style: none;
}
.listRoom>.list>ul>li{
    margin: 20px 0px;
    border: none;
    
}                                                              
.listRoom>.list>ul>li:hover .room-1{
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}
.listRoom>.list>ul>li:hover .room-1>button{
    background-color: rgb(230, 230, 230);
}



.search{
    height: 10%;
}
.search>input{
    border-radius: 10px;
    
    margin: 10px 0px;
    border: none;
    background-color: rgb(230, 230, 230);
    font-size: 18px;
}



.room-1{
   
    background-color:none;
    margin: 5px 40px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 15px;
}

.room-1>button{
    margin: 0px 0px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: #4662c0;
    font-size: 18px;
    min-width: 20%;
}
.oppenCreateRoom{
    margin: 10px 0px;
    
}
.oppenCreateRoom{
    margin-left: 10px;
    border: none;
    background-color: rgb(236, 234, 234);
    box-shadow: 0px 0px 3px 0.5px rgb(78, 74, 74);
}
.oppenCreateRoom:hover{
    background-color: rgb(104, 135, 221);
    box-shadow: 0px 0px 3px 0.5px rgb(4, 87, 241);
    color: #ffffff;
}